#!/bin/sh
# Configure systemd-networkd for {{ .Spec.NodeID }}.
set -eu

{{ range .Machine.Bonds }}{{ $bond := .Name }}
cat > /etc/systemd/network/{{ .Name }}.netdev <<'NETDEV'
[NetDev]
Name={{ .Name }}
Kind=bond
[Bond]
Mode=802.3ad
MIIMonitorSec=100ms
NETDEV

cat > /etc/systemd/network/{{ .Name }}.network <<NETWORK
[Match]
Name={{ .Name }}
[Network]
{{- if eq .Role "wan" }}
Address={{ $.Spec.IPv4Addr }}/{{ $.Spec.PrefixLength }}
Gateway={{ $.Spec.Gateway }}
DNS={{ $.Spec.DNS }}
{{- end }}
NETWORK
{{- range .Members }}

cat > /etc/systemd/network/{{ . }}.network <<MEMBER
[Match]
Name={{ . }}
[Network]
Bond={{ $bond }}
MEMBER
{{- end }}
{{ end }}

systemctl enable systemd-networkd
