#!/bin/sh
# Pin NIC names to PCI bus addresses for {{ .Spec.NodeID }}.
set -eu

cat > /etc/udev/rules.d/70-persistent-net.rules <<'RULES'
{{- range .Machine.NICs }}
SUBSYSTEM=="net", ACTION=="add", KERNELS=="{{ .PCI }}", NAME="{{ .Name }}"
{{- end }}
RULES
